<!-- Main Application Shell -->
<div class="app-container">
  <mat-sidenav-container class="shell-container" *ngIf="isAuthenticated; else noauth">
    <mat-sidenav #appSidenav mode="over" class="app-sidenav">
      <mat-nav-list>
        <!-- User Menu (non-admin) -->
        <ng-container *ngIf="!authService.isAdmin()">
          <a mat-list-item routerLink="/dashboard" (click)="appSidenav.close()">
            <mat-icon matListIcon>dashboard</mat-icon>
            <span matLine>Dashboard</span>
          </a>
          <a mat-list-item routerLink="/assistant" (click)="appSidenav.close()">
            <mat-icon matListIcon>chat</mat-icon>
            <span matLine>AI Assistant</span>
          </a>
          <a mat-list-item routerLink="/progress" (click)="appSidenav.close()">
            <mat-icon matListIcon>bar_chart</mat-icon>
            <span matLine>Progress</span>
          </a>
          <a mat-list-item routerLink="/motivation" (click)="appSidenav.close()">
            <mat-icon matListIcon>emoji_events</mat-icon>
            <span matLine>Motivation</span>
          </a>
        </ng-container>
        <!-- Admin/Coach Menu -->
        <a mat-list-item routerLink="/coach" *ngIf="authService.isAdmin()" (click)="appSidenav.close()">
          <mat-icon matListIcon>supervisor_account</mat-icon>
          <span matLine>Coach Panel</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Navigation Bar -->
      <mat-toolbar color="primary" class="navbar">
        <button mat-icon-button class="menu-icon" (click)="appSidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
    
    <span class="navbar-title">{{ title }}</span>
    
    <span class="spacer"></span>
    
    <!-- Authenticated User Menu -->
    <ng-container *ngIf="isAuthenticated">
      <span class="user-info">
        {{ authService.getCurrentUser()?.fullName || authService.getCurrentUser()?.email }}
      </span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="avatar-button">
        <img *ngIf="profilePhoto; else defaultAvatar" [src]="profilePhoto" alt="avatar" class="avatar-img" />
        <ng-template #defaultAvatar>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>

  <!-- Main Content Area -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <ng-template #noauth>
    <div class="auth-shell">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>


