<div class="motivation-container">
  <!-- Header -->
  <div class="motivation-header">
    <h2>
      <mat-icon>emoji_events</mat-icon>
      Motivation & Habits
    </h2>
    <p>Stay motivated with streaks, achievements, and positive reinforcement</p>
  </div>

  <!-- Tabs Navigation -->
  <mat-tab-group class="motivation-tabs" animationDuration="300ms">
    <!-- Streaks Tab -->
    <mat-tab label="Streaks">
      <ng-template matTabContent>
        <app-streaks></app-streaks>
      </ng-template>
    </mat-tab>

    <!-- Achievements Tab -->
    <mat-tab label="Achievements">
      <ng-template matTabContent>
        <app-achievements></app-achievements>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

